@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fetchForm {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 30px;
}
/* user.dashboard.blade.php */
.planTitleWrapper {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.planTitleWrapper form {
    justify-content: center;
    display: flex;
    align-items: center;
}
.planTitle {
    height: 90%;
    width: 50%;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: white;
}
.planTitle input:not([type="radio"]), .planTitle select {
    width:80%;
}
#map {
    height:70%;
}
.openness {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: 1%;
}
.adminRegisterCompleted{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adminRegisterCompleted p{
    --tw-text-opacity: 1;
    color: rgba(52, 211, 153, var(--tw-text-opacity));
}
.adminRegisterP{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 1.5rem;
}
.adminRegisterForm{
    display:flex;
    justify-content: center;
    top: 300px;
    margin: 100px;
}
.pwCheck{
    width: 40%;
    padding: 10px;
    position: absolute;
    top: 200px;
    background-color:#CCFF33;
    height:350px;
    opacity:0.8;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 追加 */
.planChartDetail tbody td{
    border:1px solid;
    --tw-border-opacity: 1;
    border-color: rgba(30, 64, 175, var(--tw-border-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.detailTable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 20px;
}
div .paginate{
    margin-top: 20px;
}
.selectMyPlan{
    display: flex;
    justify-content: center;
    margin: 18px;
}
.planChartTitle{
    text-align: center;
    margin: 30px 0 0 0;
}
.planChartTitle p {
    font-size: 25px;
    color:hotpink;
}
.planChart-wrapper{
    display: flex;
    justify-content: center;
}
.planChart-body{
    display: flex;
    justify-content: space-around;
    margin: 3%;
    width: 50%;
}
.planChart-body h3{
    color: green;
    font-size: 25px;
    margin-bottom: 15px;
}
.table-auto{
    margin: 40px 0;
    width: 50%;
}

/* カレンダー */
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
#calendar table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
#calendar th {
    color: #000;
}
#calendar th, #calendar td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/* カレンダー追加 */
#calendar tbody td{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
} 
/*日曜日*/
#calendar td:first-child {
    color: red;
}
/*土曜日*/
#calendar td:last-child:not(.disabled){
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td#today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}
.menu-wrapper {
    display: flex;
    text-align: center;
}
.menu-body {
    margin: auto;
}
.menu-body p {
    margin: 20px;
    color: dodgerblue;
}
/* showMyPlan.blade */
.showMyPlanFMsg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.showMyPlanFMsg .msg {
    padding-top: 20px;
    color: hotpink;
}
/* registerPlanForm.blade */
.travelForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
td.registerPlanForm input:not([name="public"]) {
    width: 100%;
}
.registerPlanForm.public {
    display: flex;
    justify-content: space-between;
}
.registerPlanForm.public input {
    margin-right: 5px;
}
.travelForm select[name="country"] {
    max-width: 250px;
}
.travelForm p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 25px;
    color: 	#FFAAFF;
}
.travelForm input[type="submit"] {
    margin-top: 10px;
    color: #ff6680;
    background-color: #bffff4;
    border-radius: 30%;
    width: 50px;
}
.registerPlanBtn {
    display: flex;
    justify-content: center;
}

/* planChart.blade.php */
.planDeleteMsg {
    text-align: center;
    margin-top: 50px;
}
/* header nav */
.headerNav {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.headerNav:hover {
    background-color: rgb(179, 191, 250);
    border-radius: 0.25rem;
}
.headerNav.selec {
    background-color: rgb(165 180 252);
    border-radius: 0.25rem;
}
/* 旅行計画登録フォーム registerPlanForm.blade */
.registerPlanForm {
    border-style: solid;
    /* px-4 */
    padding-left: 1rem;
    padding-right: 1rem;
    /* py-2 */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.travelForm .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.planDetailChart td th{
    border-style: solid;
    /* px-4 */
    padding-left: 1rem;
    padding-right: 1rem;
    /* py-2 */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/* 旅行名編集フォーム */
form dl dt{
	width:200px;
	padding: 10px 0;
	float:left;
	clear:both;
}
form dl dd{
  padding:10px 0;
}
form dl dd input{
	width:100%;
}

/* admin旅行先人気ランキングページ(admin/ranking.blade.php) */
.ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 30px;
    margin-bottom: 50px;
}
.ranking p {
    padding: 20px;
    color: #00BFFF;
    font-size: 30px;
}
.ranking li::marker{
    color:red;
}
label[class="country"] {
    width:250px;
    float: left;
}
.ranking li {
    margin-bottom: 25px;
    clear: left;
}
.ranking span {
    float: left;
    margin-right: 12px;
}
.ranking .percentage {
    float: left;
}
/* header.blade.php */
.appTitle {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
/* header.bladeのハンバーガメニュー */
.hamburgerOpen {
    background-color: #FFFFBB;
    opacity: 0.8;
    border-radius: 20px;
    position: absolute;
    z-index: 1000;
}
.hamburgerOpen a:hover {
    background-color: #FFE4B5;
}
/* header.bladeのアプリケーション名表示部分 */
header a[class="title"] {
    color: #1E90FF;
    font-size: 45px;
    font-weight: bold;
}
/* header.bladeのナビバー部分 */
.navbar {
    color: #FF69B4;
    font-weight: bold;
    font-size: 16px;
}
/* 旅行検索結果画面 */
.planSearchResultTitle {
    text-align: center;
    font-size: 30px;
    margin: 30px;
    color: brown;
}
.searchResultWrapper {
    justify-content: center;
    display: flex;
    /* flex-flow: column; */
    flex-direction: column;
    align-items: center;
}
.searchResultWrapper p {
    font-size: 20px;
    color: #CC6666;
}
.searchResultWrapper p span {
    color: black;
    font-size: 17px;
}
.searchResultItem {
    margin: 5px;
}
/* 旅行検索結果詳細画面(admin.planSearchResultDetail) */
.resultDetailTable {
    display: table;
}
.detailTableRow {
    display: table-row;
}
.detailTableItem {
    display: table-cell;
    margin-bottom: 10px;
    padding: 0 10px 10px 0;
}
.detailTableBtn {
    background-color:burlywood;
    border-radius: 5px;
}